body {
    background-color: #b5f5ec;
}


.login-form {
    position: absolute;
    width: 50vw;
    top: 25vh;
    padding: 2vw;
    left: 25vw;
    border-radius: 25px;
    background-color: #e6f4ff;
    box-shadow: 4px 5px 25px;
}

.message-login {
    direction: rtl;
}


.table-expired-rows {
    background-color: #fff1f0;
}

.register-form-personal {
    display: inline-block;
    margin: 8px;
    width: 233px;
}

@media print {
    @page {
        size: landscape;
        margin: 4mm;
    }
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.th {
    border: 1px solid black;

}

.td {
    border: 1px solid black;
    text-align: center;


}

.disabled-row {
  background-color: #dcdcdc;
  pointer-events: none;
}


.loading {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(0 0% 90%);
  font-family:  'Google Sans', sans-serif, system-ui;
}